---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hello from "../components/Hello.astro";
import Toolkit from "../components/Toolkit.astro";
import ProjectCard from "../components/ProjectCard.astro";
import MiniCard from "../components/MiniCard.astro";
import projects from "../data/projects.json";
import miniProjects from "../data/miniProjects.json";

---

<BaseLayout>
    <main>
        <div class="intro">
            <Hello></Hello>
            <Toolkit></Toolkit>
        </div>
        <section>
            <h2>featured projects</h2>
            <div class="projects">
                {
                    projects.map((p) => (
                        <ProjectCard
                            name={p.name}
                            description={p.description}
                            linkLive={p.linkLive}
                            linkGithub={p.linkGithub}
                            imgSrc={p.img.src}
                            imgWidth={p.img.width}
                            imgHeight={p.img.height}
                            imgAlt={p.img.alt}
                        >
                            <span>tag</span>
                            <span>tag</span>
                            <span>tag</span>
                        </ProjectCard>
                    ))
                }
            </div>
            <!-- -->
            <div class="card other-projects">
                <h2>Other projects</h2>
                {
                    miniProjects.map((p) => (
                        <MiniCard
                            name={p.name}
                            description={p.description}
                            linkLive={p.linkLive}
                            linkGithub={p.linkGithub}
                        >
                            <span>tag</span>
                            <span>tag</span>
                            <span>tag</span>
                        </MiniCard>
                    ))
                }
            </div>
        </section>
    </main>
</BaseLayout>
