---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import MiniCard from "../components/MiniCard.astro";
import projects from "../data/projects.json";
import miniProjects from "../data/miniProjects.json";

---

<BaseLayout>
    <main>
        <!-- 
        <div class="intro">
            <section>
                <h2>hello</h2>
                <div class="hello">
                    <div class="profile">
                        <img src="/maria-jonasson.jpeg"
                        width="800"
                        height="800"
                        loading="lazy"
                        alt="Screenshot of Poseidon project"
                        class="profile-photo">
                    </div>
                    <div>
                        <span>
                            Currently studying front-end development at Medieinstitutet. 👩‍💻 
                        </span>
                        <span>I'm especially interested in:</span>
                        <ul>
                            <li>Accessibility (a11y) ♿ </li>
                            <li>Responsiveness & usability</li>
                            <li>Thoughtful design & UI/UX 🎨</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="toolkit">
                <h2>toolkit</h2>
                <h3>Core</h3>
                <span>Semantic HTML, CSS, Flexbox, Grid, JavaScript, TypeScript, Web accessibility, Version control (GitHub)</span>
                <div class="toolkit flex">
                    <div>
                        <h3>Frameworks</h3>
                        <span>Vue, Sass/SCSS, Bootstrap</span>
                    </div>
                    <div>
                        <h3>Build tools</h3>
                        <span>Vite, npm, Node.js</span>
                    </div>
                    <div>
                        <h3>APIs</h3>
                        <span>MySQL, Express.js</span>
                    </div>
                    <div>
                        <h3>Design</h3>
                        <span>Figma, Inkscape, Adobe Creative Cloud</span>
                    </div>
                </div>
            </section>
        </div>
        -->
        <section>
            <h2>featured projects</h2>
            <div class="projects">
                {
                    projects.map((p) => (
                        <ProjectCard
                            name={p.name}
                            description={p.description}
                            linkLive={p.linkLive}
                            linkGithub={p.linkGithub}
                            imgSrc={p.img.src}
                            imgWidth={p.img.width}
                            imgHeight={p.img.height}
                            imgAlt={p.img.alt}
                        >
                            <span>tag</span>
                            <span>tag</span>
                            <span>tag</span>
                        </ProjectCard>
                    ))
                }
            </div>
            <!-- -->
            <div class="card other-projects">
                <h2>Other projects</h2>
                {
                    miniProjects.map((p) => (
                        <MiniCard
                            name={p.name}
                            description={p.description}
                            linkLive={p.linkLive}
                            linkGithub={p.linkGithub}
                        >
                            <span>tag</span>
                            <span>tag</span>
                            <span>tag</span>
                        </MiniCard>
                    ))
                }
            </div>
        </section>
    </main>
    <footer>
        <h3>Contact</h3>
        <div class="contact">
            <span>maria.jonasson@medieinstitutet.se</span>
            <a href="https://www.linkedin.com/in/maria-jonasson-a4ba24115/">LinkedIn</a>
            <a href="https://github.com/maria-jon">GitHub</a>
        </div>
    </footer>
</BaseLayout>
